[
  {
    "name": "Bermuda Triangeln",
    "area": [
      { "lat": 25.774, "lng": -80.19 },
      { "lat": 18.466, "lng": -66.118 },
      { "lat": 32.321, "lng": -64.757 },
      { "lat": 25.774, "lng": -80.19 }
    ]
  },
  {
    "name": "The Michigan Triangle",
    "area": [
      { "lat": 44.089113, "lng": -87.657659 },
      { "lat": 43.955221, "lng": -86.454675 },
      { "lat": 42.094755, "lng": -86.481266 },
      { "lat": 44.089113, "lng": -87.657659 }
    ]
  }
]